.auth-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.auth-form-column{
    padding: 32px;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}






